EXPO_PUBLIC_SUPABASE_URL=https://ranegpakfqtakgrixwls.supabase.co/rest/v1/
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJhbmVncGFrZnF0YWtncml4d2xzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2NjM5NjcsImV4cCI6MjA5MzIzOTk2N30.VKuP7xuv4MC8FA1Mt2SxGcYXirfaPkxWS5N6Zh7Cuu0
